@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(-100% - 1rem));
    }
}

.scroll {
    margin-left: 17px;
    animation: scroll 20s linear infinite;
}