.heading_deskripsi {
  color: #263238;
  font-family: Lato, sans-serif;
  font-size: 70px;
  font-style: normal;
  font-weight: 900;
  line-height: normal; 
  width: 813px;
  height: 134px; 
  margin-bottom: 60px;
}

.deskripsi_paragraf {
  color: #263238;
  text-align: justify;
  font-family: League Spartan, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 177%;
}


.deskripsi_container {
  max-width: 1200px;
  grid-column-gap: 60px;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
}

.deskripsi_gambar {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 47px;
}

@media screen and (max-width: 767px) {
  .heading_deskripsi {
    color: #263238;
    font-family: Lato, sans-serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 900;
    line-height: normal; 
    width: 313px;
    height: 25px; 
  }

  .deskripsi_gambar {
    width: 100%;
  }
}


